.soc-widget {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-self: start;
  background-color: white;
  border-radius: 8px;
  margin-right: 8px;
  .soc-card-title {
    padding: 20px 20px 0px 20px;
    color: #001665;
  }
  .soc-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px;

    .soc-card-container {
      .soc-card {
        border: 1px solid rgba(0, 0, 0, 0.12);
        border-radius: 8px;
        &.active-card {
          border: 1px solid #f88078;
        }
        &:hover {
          cursor: pointer;
        }
        &.disabled {
          pointer-events: none;
          cursor: default;
          pointer-events: none;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .soc-widget {
    .soc-cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 601px) {
  .soc-widget {
    .soc-cards {
      grid-template-columns: 1fr;
    }
  }
}
