<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>LYNX Fleet</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="x-build-number" content="<%= APP_BUILD_NUMBER %>" />
  <meta name="x-build-time" content="<%= APP_BUILD_TIME %>" />
  <meta name="x-build-date" content="<%= APP_BUILD_DATE %>" />
  <meta name="x-version" content="<%= APP_VERSION %>" />
</head>

<body>
  <noscript>Please enable JavaScript in your browser to run this app.</noscript>
  <div id="app"></div>
  <script type="module" src="/src/index.tsx"></script>
</body>

</html>
